h1 {
  color: antiquewhite;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  font-size: xx-large;
}

header {
  background-color: rgb(100, 19, 19);
  padding: 30px;
}

.linkarticulo {
  color: antiquewhite;
  padding: 10px;
  text-decoration: none;
  margin-right: 20px;
}

.tarjeta {
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.tarjeta img {
  width: 200px;
  height: auto;
}

nav {
  text-align: right;
  display: inline-block;
}

.tarjeta img {
  width: 30%;
  border-radius: 10px;
  display: block;
}

.card {
  color: rgb(100, 19, 19);
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  gap: 100px;
  padding: 20px;
}

.btn {
  color: rgb(100, 19, 19);
  padding: 10px;
  text-decoration: none;
  margin-right: 20px;
}

footer {
  text-align: center;
}

footer img {
  width: 100vw;
  height: auto;
}

#grid {
  width: 10vw;
  padding: 5px;
  margin: 5px;
}

main {
  background-color: antiquewhite;
}

.card-img-top {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 30px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}

.card-img-down {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 20px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}

.card-img-right {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 30px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}

.card-img-left {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 20px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}
