h1 {
  color: antiquewhite;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  font-size: xx-large;
  padding: 20px;
}

h2 {
  color: rgb(100, 19, 19);
  text-align: center;
}

h3 {
  font-size: larger;
}

p {
  text-align: center;
}

header {
  background-color: rgb(100, 19, 19);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 80px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

body {
    padding-top: 80px;
    background-color: antiquewhite;
}

.linkarticulo {
  color: antiquewhite;
  padding: 10px;
  text-decoration: none;
  margin-right: 20px;
}

section {
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 200px;
  height: auto;
  border-radius: 40px;
  display: block;
}

nav {
  text-align: right;
  display: inline-block;
}

.card {
  color: rgb(100, 19, 19);
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  gap: 100px;
  padding: 20px;
}

.btn {
  color: rgb(100, 19, 19);
  padding: 10px;
  text-decoration: none;
  margin-right: 20px;
}

.boton {
  color: rgb(100, 19, 19);
  font-size: large;
}

footer {
  text-align: center;
}

footer img {
  width: 100vw;
  height: auto;
}

main {
  background-color: antiquewhite;
}

.card-img-top {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 30px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}

.card-img-down {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 20px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}

.card-img-right {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 30px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}

.card-img-left {
  width: 30vw;
  height: auto;
  padding: 80px;
  margin: 20px;
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  background-color: rgba(182, 56, 56, 0.116);
  border-radius: 15px;
}
